.panel{
	width:100%;
	height:100%;
	min-width:1200px;
	/*background: #ccc;*/	
	
}

.main{
	width:100%;
	height:auto;
	margin:0 auto;
	margin-top:80px;
	

}



/*导航title*/
.bg{
	background: #1E47AD;
	color:#fff;
}


.titlebg{
	background: #fff;
	color:#1E47AD;
}

.intro-banner{
	width:100%;
	height:400px;
	/*background: #ccc;*/
	/*background: url(../images/banner.png) center center;*/
	overflow: hidden;
}



.intro-title{
	width:100%;
	min-width:1200px;
	height:50px;
	background: #eee;
	margin:0 auto;
	
}

.title-content{
	width:1200px;
	height:50px;
	margin:0 auto;
	/*background: red;*/
}
.title-left{
	float: left;
}
.title-left span{
	display: inline-block;
	width:100px;
	height:50px;
	font:normal 14px/18px "微软雅黑";
	line-height:50px;
	text-align: center;
	
}





.title-right{
	float: left;
}
.title-right ul li{
	float: left;
	list-style: none;
	width:100px;
	height:50px;
}

.title-right ul li a{
	text-decoration: none;
	display: inline-block;
	width:100px;
	height:50px;
	font:normal 14px/18px "微软雅黑";
	line-height: 50px;
	text-align: center;
	
}
.title-right ul li a:hover{
	background: #fff;
	color:#1E47AD;
}



/*主题*/
.intro-body{
	width:100%;
	min-width:1200px;
	height:auto;
	/*background: #676767;*/
}

.body-container{
	width:1200px;
	
	height:auto;
	
	/*background: #008C4B;*/
	margin:0 auto;
	overflow: hidden;
	margin-top:50px;
	margin-bottom:80px;
}

.about-title{
	width:1200px;
	height:50px;
	/*background: blue;*/
	overflow: hidden;
}

.news-container{
	width:1200px;
	/*height:1000px;*/
	height:auto;
	/*background: #92B8B1;*/
	margin:0 auto;
	border-top:1px solid #EAEAEA;
}

.news-container ul li{
	list-style: none;
	width:1180px;
	height:160px;
	/*background: #93C349;*/
	border-bottom:1px solid #EAEAEA;
	overflow: hidden;
	padding:20px;
}

.news-container ul li a{
	display: inline-block;
}

.list-left{
	float: left;
	width:310px;
	height:160px;
	/*background: #008C4B;*/
	overflow: hidden;
	
}
.list-left img{
	width:100%;
	height:100%;
}
.list-middle{
	float: left;
	width:730px;
	height:160px;
	/*background: #009F95;*/
	overflow: hidden;
	padding:0 20px;
}


.list-title{
	width:730px;
	height:30px;
	/*background: red;*/
	font:normal 16px/40px "微软雅黑";
	line-height:30px;
	overflow: hidden;
	
}


.list-content{
	width:730px;
	height:120px;
	margin-top:10px;
	font:normal 14px/40px "微软雅黑";
	text-indent:30px;
	line-height:20px;
	/*background: #1E9FFF;*/
	overflow: hidden;
}

.list-right{
	float:left;
	width:100px;
	height:160px;
	/*background: #333;*/
	overflow: hidden;
}

.list-time{
	width:100px;
	height:30px;
	
	font:normal 14px/40px "微软雅黑";
	line-height:30px;
	color:#1D47AB;
	text-align: center;
	
}

.list-txt{
	width:90px;
	height:40px;
	margin-top:90px;
	margin-left:5px;
	font:normal 14px/40px "微软雅黑";
	line-height:40px;
	background:#303EA7;
	color:#fff;
	text-align: center;
	position:static;
	behavior: url(pie.htc);
	z-index:10;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px ;
}



/*分页页码*/
.page{
	width:1200px;
	height:50px;
	/*background: #93C349;*/
	margin:0 auto;
	
	padding-top:50px;
	/*padding-bottom:50px;*/
}

.disabled{
	background: #1D47AB;
	color:#fff;
}

.page-list{
	width:800px;
	height:50px;
	/*background: red;*/
	margin:0 auto;
	padding-left:400px;
}
.page a{
	display:block;

	float:left;
	width:48px;
	height:48px;
	font:normal 14px/20px "微软雅黑";
	border:1px solid #eee;
	text-align: center;
	
	line-height:48px;
	margin-right:54px;
	
}

/*.page a:first-child{
	width:100px;
	margin-left:4px;
}

.page a:last-child{

	width:100px;
	margin-right:0;

}*/


.page a:first-child{
	width:100px;
	/*margin-left:4px;*/
}

.page a:last-child{

	width:100px;
	margin-right:0;

}
