.panel{
	width:100%;
	height:100%;
	min-width:1200px;
	/*background: #ccc;*/	
	
}

.main{
	width:100%;
	height:auto;
	margin:0 auto;
	margin-top:80px;
	

}



/*导航title*/
.bg{
	background: #1E47AD;
	color:#fff;
}


.titlebg{
	background: #fff;
	color:#1E47AD;
}

.intro-banner{
	width:100%;
	height:400px;
	/*background: #ccc;*/
	/*background: url(../images/banner.png) center center;*/
	overflow: hidden;
}



.intro-title{
	width:100%;
	min-width:1200px;
	height:50px;
	background: #eee;
	margin:0 auto;
	
}

.title-content{
	width:1200px;
	height:50px;
	margin:0 auto;
	/*background: red;*/
}
.title-left{
	float: left;
}
.title-left span{
	display: inline-block;
	width:100px;
	height:50px;
	font:normal 14px/18px "微软雅黑";
	line-height:50px;
	text-align: center;
	
}





.title-right{
	float: left;
}
.title-right ul li{
	float: left;
	list-style: none;
	width:100px;
	height:50px;
}

.title-right ul li a{
	text-decoration: none;
	display: inline-block;
	width:100px;
	height:50px;
	font:normal 14px/18px "微软雅黑";
	line-height: 50px;
	text-align: center;
	
}
.title-right ul li a:hover{
	background: #fff;
	color:#1E47AD;
}



/*主题*/
.intro-body{
	width:100%;
	min-width:1200px;
	height:auto;
	/*background: #676767;*/
}

.body-container{
	width:1200px;
	
	height:auto;
	
	/*background: #008C4B;*/
	margin:0 auto;
	overflow: hidden;
	margin-top:50px;
	margin-bottom:80px;
}

.about-title{
	width:1200px;
	height:50px;
	/*background: blue;*/
	overflow: hidden;
}

.news-container{
	width:1200px;
	
	height:auto;
	/*background: #92B8B1;*/
	margin:0 auto;
	border-top:1px solid #EAEAEA;
}


.soc-title{
	width:1200px;
	height:100px;
	/*background: red;*/
	margin:0 auto;
	font:normal 14px/40px "微软雅黑";
	margin-top:20px;
	
}

.soc-content{
	width:1200px;
	height:auto;
	/*background: #68838B;*/
	margin:0 auto;
	
	margin-top:100px;
	position:relative;
}


.soc-ul{
	position:absolute;
	top:-50px;
	left:100px;
	z-index:100;
}
.soc-ul li{
	float:left;
	list-style: none;
	
	width:260px;
	height:200px;
	
	
}
.soc-ul li:hover{
	cursor: pointer;
}
.soc-ul li img{
	width:100%;
	height:100%;
	
}

.soc-body{
	width:1200px;
	height:800px;
	
	overflow: hidden;
	
}

.soc-all{
	width:1200px;
	height:auto;
	background: #FAFAFA;
	margin:0 auto;
	overflow: hidden;
}

.soc-txt{
	font:normal 20px/40px "微软雅黑";
	font-weight:bold;
	padding-left:10px;
	/*background: red;*/
	margin-top:20px;
}


.soc-num{
	width:1200px;
	height:120px;
	
	margin-top:20px;
	
}


.soc-num ul li{
	list-style: none;
	float: left;
	width:300px;
	height:120px;
	
	overflow: hidden;
}

.num-img{
	float:left;
	width:50px;
	height:120px;
	text-align: center;
	
}

.num-txt{
	float:left;
	width:250px;
	height:120px;
	font:normal 14px/40px "微软雅黑";
	line-height:30px;
	overflow: hidden;
	
}


.num-top{
	margin-top:26px;
}
